
<strong>Olá, {{ provider }}</strong>
<p>
    <strong>Cliente:</strong> {{user}}
    <strong>Data/Hora:</strong> {{date}} <br/>
    <br/>
    <small>
        O horario está novamente disponivel para agendamentos.
    </small>
</p>
